!!!
%html{lang: "ja"}
  %head
    %meta{charset: "utf-8"}
    = stylesheet_link_tag "application.scss"

  %body

  %header
    %p チャットグループが作成されました



  %nav
    .nav__user
      %ul
        %li.ul__name
          = current_user.name
        - if user_signed_in?
          %li.ul__edit
            =link_to new_group_path, class: "ul__edit__link", method: :get do
              =fa_icon "edit"
          %li.ul__cog
            =link_to edit_user_path(current_user), class: "ul__cog__link", method: :get do
              =fa_icon "cog"
        - else
          %li.ul__edit
            =link_to 'https://qiita.com/knt45/items/c76b246ad448f3814ae4', class: "ul__edit__link", method: :get do
              =fa_icon "edit"
          %li.ul__cog
            =link_to new_user_registration, class: "ul__cog__link", method: :get do
              =fa_icon "cog"


    .nav__group
      - current_user.groups.each do |group|
        = link_to group_messages_path(group) do
          %h2
            = group.name
          %p
            メッセージはまだありません

  .chat
    .chat__header
      %h2 sampleグループ
      %p ryousuke maehira
      %div edit

    .chat__content
      = render partial: "content", locals: {name: "ryousuke maehira", date: "2016/10/02 06:27:07", message: "なるほど"}

      = render partial: "content", locals: {name: "ryousuke maehira", date: "2016/10/02 06:27:14", message: "水色きれい"}

      = render partial: "content", locals: {name: "ryousuke maehira", date: "2016/10/02 06:29:07", message: "command Enterで送信したい感ある"}

      = render partial: "content", locals: {name: "ryousuke maehira", date: "2016/10/02 06:30:07", message: "お腹すいた"}

      = render partial: "content", locals: {name: "ryousuke maehira", date: "2016/10/02 06:27:07", message: "なるほど"}

      = render partial: "content", locals: {name: "ryousuke maehira", date: "2016/10/02 06:27:14", message: "水色きれい"}

      = render partial: "content", locals: {name: "ryousuke maehira", date: "2016/10/02 06:29:07", message: "command Enterで送信したい感ある"}

      = render partial: "content", locals: {name: "ryousuke maehira", date: "2016/10/02 06:30:07", message: "お腹すいた"}



    .chat__fotter
      %form
        %input{type: "text",class: "chat__fotter__text", placeholder: "type a message"}
        %label
          %span.chat__fotter__icon
            =fa_icon "image"
          %input{type: "file", class: "chat__fotter__filesend"}
        %input{type: "submit",class: "chat__fotter__submit", value:"send"}


