%nav
  .nav__user
    %ul
      %li.ul__name
        = current_user.name
      - if user_signed_in?
        %li.ul__edit
          = link_to new_group_path, class: "ul__edit__link", method: :get do
            =fa_icon "edit"
        %li.ul__cog
          = link_to edit_user_path(current_user), class: "ul__cog__link", method: :get do
            =fa_icon "cog"
      - else
        %li.ul__edit
          = link_to 'https://qiita.com/knt45/items/c76b246ad448f3814ae4', class: "ul__edit__link", method: :get do
            = fa_icon "edit"
        %li.ul__cog
          = link_to new_user_registration, class: "ul__cog__link", method: :get do
            =fa_icon "cog"

  .nav__group
    - current_user.groups.each do |group|
      = link_to group_messages_path(group) do
        %h2
          = group.name
        %p
          メッセージはまだありません
